* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/*------nav------*/
nav {
  background-color: #d9d9d9;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li,
a {
  color: currentColor;
  font-size: 15px;
  margin-left: 6px;
}
nav ul li:nth-child(4) {
  position: relative;
}
nav ul li:nth-child(4) input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: none;
  padding-left: 6px;
  outline: none;
}
nav ul li:nth-child(4) i {
  position: absolute;
  font-size: 20px;
  right: 10px;
  color: #333;
  line-height: 30px;
  cursor: pointer;
}
nav ul li:nth-child(7) button {
  height: 35px;
  padding: 0 15px;
  cursor: pointer;
  background-color: transparent;
  color: currentColor;
  border: 1px solid #ddd;
}

/*product home page 1*/
.slider-product-one-content {
  background-color: rgb(205, 199, 199);
  padding: 12px;
}
.slider-product-one-content-items {
  display: flex;
  justify-content: space-evenly;
}
.slider-product-one-content-item:hover > img {
  transform: translate(-10px);
}
.slider-product-one-content-item {
  width: 19%;
  background-color: #fff;
  padding: 50px 12px 50px;
  border-radius: 5px;
  cursor: pointer;
}
.slider-product-one-content-item > img {
  width: 100%;
  transition: all 0.5s ease;
}
.slider-product-one-content-title h2 {
  font-size: italic;
  padding: 12px 0;
}
.slider-product-one-content-item-text {
  padding-top: 20px;
}
.slider-product-one-content-item-text li {
  margin-bottom: 6px;
  list-style: none;
}
.slider-product-one-content-item-text li:first-child {
  height: 30px;
  width: 70%;
  background-color: rgb(13, 58, 223);
  display: inline-block;
  margin-bottom: 20px;
  align-items: center;
  line-height: 30px;
  border-radius: 40px;
}
.slider-product-one-content-item-text li:first-child p {
  color: #fff;
  font-size: 12px;
}
.slider-product-one-content-item-text li:first-child img {
  width: 30px;
  float: left;
  margin-right: 6px;
}
.slider-product-one-content-item-text li:nth-child(4) a {
  text-decoration: line-through;
  color: #333;
}
.slider-product-one-content-item-text li:last-child {
  color: #fb6e2e;
}

.slider-product-one-content-item-text li:nth-child(2):hover {
  color: #2f80ed;
}
.slider-product-one-content-item-text li:nth-child(5) {
  color: #e83a45;
  font-weight: bold;
}
/*product home page 2*/
.slider-product-two-content {
  background-color: rgb(205, 199, 199);
  padding: 12px;
}
.slider-product-two-content-items {
  display: flex;
  justify-content: space-evenly;
}
.slider-product-two-content-item:hover > img {
  transform: translate(-10px);
}
.slider-product-two-content-item {
  width: 19%;
  background-color: #fff;
  padding: 50px 12px 50px;
  border-radius: 5px;
  cursor: pointer;
}
.slider-product-two-content-item > img {
  width: 100%;
  transition: all 0.5s ease;
}
.slider-product-two-content-title h2 {
  font-size: italic;
  padding: 12px 0;
}
.slider-product-two-content-item-text {
  padding-top: 20px;
}
.slider-product-two-content-item-text li {
  margin-bottom: 6px;
  list-style: none;
}
.slider-product-two-content-item-text li:first-child {
  height: 30px;
  width: 70%;
  background-color: #f37c45;
  display: inline-block;
  margin-bottom: 20px;
  align-items: center;
  line-height: 30px;
  border-radius: 40px;
}
.slider-product-two-content-item-text li:first-child p {
  color: #fff;
  font-size: 12px;
}
.slider-product-two-content-item-text li:first-child img {
  width: 30px;
  float: left;
  margin-right: 6px;
}
.slider-product-two-content-item-text li:nth-child(4) a {
  text-decoration: line-through;
  color: #333;
}
.slider-product-two-content-item-text li:last-child {
  color: #fb6e2e;
}
.slider-product-two-content-item-text li:nth-child(5) {
  color: #e83a45;
  font-weight: bold;
}
.slider-product-two-content-item-text li:nth-child(2):hover {
  color: #2f80ed;
}
/* footer */
footer {
  margin-top: 30px;
  padding: 50px 0 0 12px;
  background-color: #d9d9d9;
}
footer .row-grid {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.footer-item p:first-child {
  font-weight: bolder;
  margin-bottom: 12px;
}

.footer-item p {
  font-weight: 300;
  line-height: 32px;
}
